  @import "tailwindcss";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
        }
        
        .signature {
            font-family: 'Brush Script MT', cursive;
            font-size: 2.5rem;
        }